*{margin: 0;
padding: 0;
box-sizing: border-box;}
body {font-family: "Fredoka", sans-serif;
background: #f1ddca; width: 100%; height: 100%;}

.header {background: white;
display: flex; justify-content: space-around;
align-items: center;
min-height: 10vh; min-width: 100%; position: relative;
padding: 0 15px;
}

.list {display: flex; list-style: none; gap: 4em;}

.log {font-size: 25px; font-weight: bolder; letter-spacing: 0.1em;}

.link {text-decoration: none; color: #a14434;}

.btn {background: hsla(9, 51%, 42%, 1); border: none; color: white;
padding: 0.3em 1.5em; font-size: 18px; border-radius: 3px;

}

.btn:hover {background:hsla(9, 51%, 22%, 1);transition: background-color 1.5s ease;}
.link:hover {color:hsla(9, 51%, 22%, 1); transition: color 1.5s ease;}

.main {display: flex; justify-content: center;
align-items: center; min-height: 100vh; width: inherit;}
.container {display: flex; flex-direction: column; background: white;
padding: 25px; width: 25vw; min-width: 300px;}
.form {display: flex; flex-direction: column;}
.title {font-size: 22px; font-weight: 400; margin-bottom: 15px; text-align: center;}
.imp {padding: 0.7em 2em 0.7em 0.3em; margin-bottom: 7px; border: 1px solid rgb(192, 188, 188); border-radius: 3px;}
.lint-two {font-size: 14px; margin-bottom: 20px;}
.btn-main {max-width: 45%; margin: 0 auto; font-size: 15px; font-weight: bolder;}

@media only screen and (max-width: 474px)
{.header {flex-wrap: wrap; justify-content: space-between;}
.li {order: 1;  width: 100%;}
.list {justify-content: space-around;}


}
    
